---
import { Image } from 'astro:assets';
import Button from '../ui/Button.astro';
import ItemGrid from '../ui/AboutGrid.astro';
---
<section class="w-full h-auto flex justify-between pt-20 p-14">
    <div class="flex gap-6 flex-col justify-center max-w-[70%]">
        <div class="text-8xl text-content-1 font-display font-semibold">
            <span class=""> Working To Bring You The Next 24 Hour <span class="text-accent-2">Hackathon<span></span>
        </div>
        <div>
            <Button href="/about" text="About Us"/>
        </div>
        
    </div>
    <div class="flex flex-col">
        <Image src="/images/VRRetroBernie.png" alt="Bernie with VR" width="400" height="400" class:list={["border-4 border-content-2 rounded-full"]}/>
        <div class="w-full justify-center text-xl text-content-2 flex mt-2"></span><span class="pr-1.5">Meet Our Mascot <span class="text-accent-1"><b>BE</b><span class="text-accent-2"><b>RN</b><span/><span class="text-accent-3"><b>IE</b><span/><span class="text-accent-1"><b>!</b><span/><span/></div>
    </div>
</section>
<section class="w-full h-auto flex justify-between p-14">
    <ItemGrid
        items={[
            {
                title: "What is a Hackathon?",
                description: "It's a place where programmers, engineers, designers, and entrepreneurs come together to build an awesome project! We provide the venue and food, you bring the creativity. Get ready to learn, build something cool, and meet new people!"
            },
            {
                title: "What If I'm A Beginner?",
                description: "Do not worry. TeenHacks LI encourages students of all levels to come! In addition, we will have workshops throughout the hackathon as well as mentors available to answer any of your questions."
            },
            {
                title: "Who Can Attend?",
                description: "All high school students are welcome to attend. If you are older or younger and still want to participate as a hacker, shoot us an email. If you're older, we welcome you to sign-up as a mentor!"
            },
            {
                title: "Does It Cost Anything?",
                description: "TeenHacks LI is completely free, thanks to our generous sponsors! This will include food, swag, and awesome prizes."
            },
            {
                title: "What If I Don't Have A Team?",
                description: "In the beginning, we’ll have a team formation session to make sure you’re not alone. We encourage you to form teams of up to 4 members. Individuals will not be eligible for prizes."
            },
            {
                title: "Where Can I Apply?",
                description: "Right Below!"
            },
        ]}
        columns="3"
    />
</section>
