---
import { Image } from 'astro:assets';
import Button from '../ui/Button.astro';
---
<section class="w-full h-auto flex justify-between spant-20 px-14">
    <div class="flex gap-6 flex-col justify-center max-w-[70%]">
        <div class="text-8xl text-content-1 font-display font-semibold">
            <span class=""> Working To Bring You The Next 24 Hour <span class="text-accent-2">Hackathon<span></span>
        </div>
        <div>
            <Button href="/about" text="About Us"/>
        </div>
        
    </div>
    <div class="flex flex-col">
        <Image src="/images/VRRetroBernie.png" alt="Bernie with VR" width="400" height="400" class:list={["border-4 border-content-2 rounded-full"]}/>
        <div class="w-full justify-center text-xl text-content-2 flex mt-2"></span><span class="spanr-1.5">Meet Our Mascot <span class="text-accent-1"><b>BE</b><span class="text-accent-2"><b>RN</b><span/><span class="text-accent-3"><b>IE</b><span/><span class="text-accent-1"><b>!</b><span/><span/></div>
    </div>
</section>
<section>
    
</section>