---
import { Image } from 'astro:assets';
import Button from '../ui/Button.astro';
import ItemGrid from '../ui/AboutGrid.astro';
---

<!-- Hero section -->
<section class="w-full flex flex-col lg:flex-row justify-between items-center gap-10 px-6 lg:px-14 py-10">
  <div class="flex flex-col gap-6 justify-center max-w-2xl">
    <div class="text-5xl lg:text-8xl text-content-1 font-display font-semibold leading-tight">
      <span>Working To Bring You The Next 24 Hour <span class="text-accent-2">Hackathon</span></span>
    </div>
    <div>
      <Button href="/about" text="About Us" />
    </div>
  </div>

  <div class="flex flex-col items-center">
    <Image 
      src="/images/VRRetroBernie.png"
      alt="Bernie with VR"
      width="400"
      height="400"
      class:list={["border-4 border-content-2 rounded-full"]}
    />
    <div class="mt-2 text-xl text-content-2 flex justify-center">
      <span>Meet Our Mascot 
        <span class="text-accent-1 font-bold"> BE</span>
        <span class="text-accent-2 font-bold">RN</span>
        <span class="text-accent-3 font-bold">IE</span>
        <span class="text-accent-1 font-bold">!</span>
      </span>
    </div>
  </div>
</section>

<!-- FAQ section -->
<section class="w-full py-12 px-6 lg:px-20">
  <ItemGrid
    items={[
      {
        title: "What is a Hackathon?",
        description: "A place where programmers, engineers, designers, and entrepreneurs come together to build! We provide the venue, food, and people, you bring the creativity."    
      },
     {
        title: "What If I'm A Beginner?",
        description: "Don't worry. TeenHacks LI encourages students of all levels to come! In addition, we will have workshops throughout the hackathon as well as mentors available to answer any of your questions."
      },
      {
        title: "Who Can Attend?",
        description: "All high school students are welcome to attend. If you are older or younger and still want to participate as a hacker, shoot us an email. If you're older, we welcome you to sign-up as a mentor!"
      },
      {
        title: "Does It Cost Anything?",
        description: "TeenHacks LI is completely free, thanks to our generous sponsors! This will include food, swag, and awesome prizes."
      },
      {
        title: "What If I Don't Have A Team?",
        description: "We'll help you find a team in the discord and we'll have a team formation session to make sure you’re not alone (although flying solo is an option too)."
      },
      {
        title: "What if I have other questions?",
        description: "Email us at thli@teenhacks.com, join our discord server and ask directly, or see if you can find other answers here: https://shorturl.at/JvmGz" 
      },
    ]}
    columns="3"
  />
</section>
