<section class="w-full h-screen flex bg-accent-2">
    <div class="w-[80%] h-full flex flex-col justify-center gap-14 px-14 [text-shadow:_0_1px_10px_rgb(0_0_0_/_60%)]">
        <span class="text-8xl text-content-1 font-display">Where students meet the world of programming.</span>
        <span class="text-4xl text-content-1 font-display">Calling all programmers, designers, makers, and leaders!</span>
    </div>
</section>

