---
import Button from "../ui/Button.astro";
import IconWithText from "../ui/IconWithText.astro";
import { Image } from 'astro:assets';
---

<div class="group/container flex flex-col lg:flex-row w-full h-auto lg:h-[90vh] my-14 px-6 lg:px-14 justify-center gap-10 font-display">
  <!-- Left Block -->
  <div class="relative group/left bg-content-1 rounded-3xl w-full lg:w-[65%] p-8 lg:p-14 flex flex-col justify-between text-bg">
    <div class="flex flex-col gap-4">
      <span class="font-medium text-5xl lg:text-6xl transition-all group-hover/container:text-5xl group-hover/left:text-6xl">
        For Participants
      </span>
      <span class="text-lg lg:text-xl font-bold transition-all group-hover/container:opacity-0 group-hover/left:opacity-100">
        We are not accepting participants at the moment. Check back later to see if this page changes!
      </span>
    </div>

    <div class="flex flex-col gap-4 mt-8">
      <IconWithText icon="/icons/location.svg">Location: Unknown</IconWithText>
      <IconWithText icon="/icons/team.svg">Teams: Up to four teammates</IconWithText>
      <IconWithText icon="/icons/star.svg">Theme: Talent Show</IconWithText>
      <div class="w-40">
        <Button text="APPLY TO JOIN NOW" href="/apply" style={"ACCENT1"} />
      </div>
    </div>

    {/*
    <Image
      src="/images/glassesBernie.png"
      alt="Bernie with glasses"
      width="250"
      height="250"
      class:list={["absolute right-0 top-[20%] -scale-x-100 group-hover/container:opacity-0 group-hover/left:opacity-100 transition-all"]}
    />
    */}
  </div>

  <!-- Right Block -->
  <div class="relative group/right bg-accent-2 rounded-3xl w-full lg:w-[35%] transition-all ease-linear hover:w-full lg:hover:w-[70%] p-8 lg:p-14 flex flex-col justify-between text-bg">
    <div class="flex flex-col gap-4">
      <span class="font-medium text-5xl lg:text-6xl transition-all group-hover/right:text-6xl">
        For Everyone Else
      </span>
      <span class="text-lg lg:text-xl font-bold opacity-0 group-hover/right:opacity-100 transition-all">
        We are not accepting Mentors, Judges, or Committee Members at the moment
      </span>
    </div>

    <div class="flex justify-start lg:justify-end gap-4 mt-8">
      <div class="w-40">
        <Button text="APPLY TO JOIN NOW" href="/apply" style={"ACCENT3"} />
      </div>
    </div>

    {/*
    <Image
      src="/images/staffBernie.png"
      alt="Bernie with tie"
      width="250"
      height="250"
      class:list={["absolute right-0 top-[20%] opacity-0 group-hover/right:opacity-100 transition-all"]}
    />
    */}
  </div>
</div>
