---
import Button from "../ui/Button.astro";
import IconWithText from "../ui/IconWithText.astro";
import { Image } from 'astro:assets';
---

<div class="group/container flex flex-col lg:flex-row w-full h-auto lg:h-[90vh] my-14 px-6 lg:px-14 justify-center gap-10 font-display">
  <!-- Left Block -->
  <div class="relative group/left bg-content-1 rounded-3xl w-full lg:w-[65%] p-6 sm:p-8 lg:p-14 flex flex-col justify-between text-bg">
    <div class="flex flex-col gap-4">
      <span class="font-medium text-4xl sm:text-5xl lg:text-6xl transition-all group-hover/container:text-5xl group-hover/left:text-6xl">
        For Participants
      </span>
      <span class="text-base sm:text-lg lg:text-xl font-bold transition-all group-hover/container:opacity-0 group-hover/left:opacity-100">
        
      </span>
    </div>

    <div class="flex flex-col gap-4 mt-8">
      <IconWithText icon="/icons/location.svg">
        <span class="text-sm sm:text-base">Location: University Center Building, Adelphi University. 1 South Avenue, Garden City, NY, 11530. </span>
      </IconWithText>
      <IconWithText icon="/icons/team.svg">
        <span class="text-sm sm:text-base">Teams: 1 to 4 people</span>
      </IconWithText>
      <IconWithText icon="/icons/star.svg">
        <span class="text-sm sm:text-base">Theme: Video Game. The hackathon is the game, and you're one of the characters :) </span>
      </IconWithText>
      <div class="w-40">
        <Button text="Sign Up Now" href="mailto: thli@teenhacks.com" style={"ACCENT1"} />
      </div>
    </div>
  </div>

  <!-- Right Block -->
  <div class="relative group/right bg-accent-2 rounded-3xl w-full lg:w-[35%] transition-all ease-linear hover:w-full lg:hover:w-[70%] p-6 sm:p-8 lg:p-14 flex flex-col justify-between text-bg">
    <div class="flex flex-col gap-4">
      <span class="font-medium text-4xl sm:text-5xl lg:text-6xl transition-all group-hover/right:text-6xl">
        For Everyone Else
      </span>
      <span class="text-base sm:text-lg lg:text-xl font-bold opacity-0 group-hover/right:opacity-100 transition-all">
        We don't really have judges (all judging is done by attendees), but we invite you to join as a mentor and hang out with some high school coding talent!
      </span>
    </div>
    
    <div class="flex justify-start lg:justify-end gap-4 mt-8">
      <div class="w-40">
        <Button text="Get In Touch" href="https://forms.gle/Jrjq58s2daXpaqrm7" style={"ACCENT3"} /> 
      </div>
    </div>
  </div>
</div>
