<div class="relative w-[80%] h-auto flex flex-col justify-between p-14 gap-14 bg-accent-3 rounded-2xl [text-shadow:_0_1px_10px_rgb(0_0_0_/_60%)] -translate-y-14">
    <span class="text-4xl text-bg font-display">Who are we?</span>
    <span class="text-7xl text-bg font-display">We’re a team of 26 students based in Long Island, hosting hackathons since 2018!</span>

</div>
<section class="w-full flex flex-col items-center bg-bg gap-14 p-14 pt-0">
    <div class="w-full justify-center text-7xl text-content-1 flex"><span class="mr-4">Meet Our Mascot </span><span class="text-accent-1"><b>BE</b><span class="text-accent-2"><b>RN</b><span/><span class="text-accent-3"><b>IE</b><span/><span class="text-accent-1"><b>!</b><span/><span/></div>
    <div class="w-full h-auto flex justify-center items-center gap-14 [text-shadow:_0_1px_10px_rgb(0_0_0_/_80%)]">
        <div class="w-1/4 flex flex-col gap-7">
            <div class="aspect-square bg-content-1 rounded-2xl"></div>
            <div class="w-1/3 bg-accent-1 rounded-2xl p-2 px-6 flex justify-center">
                <span class="text-4xl text-content-1 font-display">2018</span>
            </div>
        </div>
        <div class="w-1/4 flex flex-col gap-7">
            <div class="aspect-square bg-content-1 rounded-2xl"></div>
            <div class="w-1/3 bg-accent-2 rounded-2xl p-2 px-6 flex justify-center">
                <span class="text-4xl text-content-1 font-display">2021</span>
            </div>
        </div>
        <div class="w-1/4 flex flex-col gap-7">
            <div class="aspect-square bg-content-1 rounded-2xl"></div>
            <div class="w-1/3 bg-accent-3 rounded-2xl p-2 px-6 flex justify-center">
                <span class="text-4xl text-content-1 font-display">2024</span>
            </div>
        </div>
    </div>
</section>