<section class="w-full h-auto flex bg-bg p-14">
    <div class="relative flex justify-between items-end w-full">
        <span class="relative text-content-1 font-display [font-size:30vw] left-[calc(-1vw*(30/10.5))]">Blogs</span>
        <div class="h-full flex flex-col justify-between">
            <span class="text-content-1 font-display [font-size:10vw]">14</span>
            <span class="text-content-1 font-display [font-size:10vw] text-center">↓</span>
        </div>
    </div>
</section>


