---
import DividerEntry from "../ui/DividerEntry";
import IconWithText from "../ui/IconWithText.astro";
import { CodeBracketIcon } from "@heroicons/react/24/solid";
---

<div class="w-screen h-auto py-4 sm:h-28 bg-content-3 outline outline-2 outline-white overflow-x-auto">
    <div class="flex flex-row sm:items-center h-full w-max sm:w-[98%] ml-[2%] space-x-8 sm:space-x-16 px-4 sm:px-0">
        <DividerEntry icon="Code" text="Hackathon" />
        <DividerEntry icon="UserPlus" text="Form Teams" />
        <DividerEntry icon="School" text="High Schoolers Welcome" />
        <DividerEntry icon="Gift" text="Prizes" />
        <DividerEntry icon="Banknotes" text="Free to join" />
    </div>
</div>
