---
import ThemeSwitch from "../common/ThemeSwitch.astro";
import Navigation from "../common/Navigation.astro";
import ThemedImage from "../ui/ThemedImage.tsx";

interface Props {
    isSticky?: Boolean;
    showMenu?: Boolean;
    showDarkModeSwitch?: Boolean;
}
const { isSticky = true, showMenu = true, showDarkModeSwitch = true } = Astro.props;
---

<header
    class:list={[
        { sticky: isSticky, relative: !isSticky },
        "top-0 z-30 flex p-6 justify-center items-center h-24 rounded-b-3xl",
    ]}
>
    <a class="absolute left-8 h-[65%] flex items-center" href="/">
        <ThemedImage
            darkModeUrl="/icons/textLogoWhite.svg"
            lightModeUrl="/icons/textLogoBlack.svg"
            className="h-full"
            loading="eager"
            alt="Teenhacks Logo"
            client:load
        />
    </a>

    <Navigation />

    <div class="flex items-center justify-center absolute right-20 space-x-8">
        <button class="bg-content-2 rounded-full h-10"><a class="font-display font-bold text-content-1 p-6 text-lg">Join now</a></button>
        <ThemeSwitch transition:persist class:list={[{ hidden: !showDarkModeSwitch }]} />
    </div>
</header>
