---
import ThemeSwitch from '../common/ThemeSwitch.astro';
import Navigation from '../common/Navigation';
import ThemedImage from '../ui/ThemedImage.astro';

interface Props {
    isSticky?: Boolean;
    showMenu?: Boolean;
    showDarkModeSwitch?: Boolean;
}
const { isSticky = true, showMenu = true, showDarkModeSwitch = true } = Astro.props;
---

<header
    class:list={[{ sticky: isSticky, relative: !isSticky }, 'top-0 z-30 flex p-6 justify-center items-center h-24']}
>
    <div class="w-4"></div>
    <a class="absolute left-8 h-[65%] flex items-center" href="/">
        <ThemedImage
            darkModeUrl="/images/textLogoWhite.png"
            lightModeUrl="/images/textLogoBlack.png"
            className="h-full"
        />
    </a>

    <Navigation client:load />
    <ThemeSwitch transition:persist class:list={[{ hidden: !showDarkModeSwitch }]} />
</header>
