---
import Button from "../ui/Button.astro";
import ImageCarousel from "./ImageCarousel";
---

<div class="flex flex-col w-full min-h-screen pt-24 space-y-8 sm:space-y-14 p-6 sm:p-14">
    <div class="flex flex-col w-full sm:w-[90%] md:w-[80%] lg:w-[60%]">
        <p class="text-content-2 font-display font-medium text-lg sm:text-xl">TeenHacks LI 2025 Introduces...</p>
        <h1 class="text-display text-4xl sm:text-5xl md:text-6xl text-content-1 font-bold space-x-4 leading-tight">Player One</h1>
        <h1 class="text-display text-4xl sm:text-5xl md:text-6xl text-content-1 font-bold space-x-4 leading-tight">
            <span class="text-accent-1 hover:text-accent-2 transition-colors duration-500">
                Applications Open Now!
            </span>
        </h1>

        <div class="flex flex-wrap gap-4 mt-6">
            <Button href="https://forms.gle/Jrjq58s2daXpaqrm7" text="Join Now" />
            <Button href="https://vihaans-cp-notes.gitbook.io/teenhacks-long-island-quickstart-guide/basics/general-details" text="View Schedule" style={"BORDERED"} />
        </div>
    </div>
    <ImageCarousel class:list={"-z-50"} client:load/>
</div>
