---
import Button from "../ui/Button.astro";
import ImageCarousel from "./ImageCarousel";
---

<div class="flex flex-col w-full h-screen space-y-14 p-14">
    <div class="flex flex-col w-[60%]">
        <p class="text-content-2 font-display font-medium text-xl">TeenHacks LI 2024</p>
        <h1 class="text-display text-6xl text-content-1 font-bold space-x-4 leading-tight">Soar beyond code</h1>
        <h1 class="text-display text-6xl text-content-1 font-bold space-x-4 leading-tight">
            <span class="text-accent-1 hover:text-accent-2 transition-colors duration-500">
                Take flight into innovation
            </span>
        </h1>

        <div class="flex mt-6 space-x-5">
            <Button href="/join" text="Join Now" />
            <Button href="/schedule" text="View Schedule" style={"BORDERED"} />
        </div>
    </div>
    <ImageCarousel client:load />
</div>
