---
import NameTileRow from '../ui/NameTileRow.astro';
---

<section class="relative w-full h-fit bg-bg flex flex-col gap-8 sm:gap-14 p-6 sm:p-14">
    <span class="text-5xl sm:text-6xl md:text-8xl text-content-1 font-display">Meet our team</span>
    <span class="w-fit bg-accent-1 rounded-full p-2 sm:p-3 px-3 sm:px-4 text-2xl sm:text-4xl text-content-1 font-display text-center">Core Team</span>
    <div class="w-full flex flex-wrap gap-4 sm:gap-7">
        <NameTileRow
            items={[
                {
                    name: "Vihaan Sondhi",
                    title: '"Director"',
                    description: "",
                    img: "/images/headshots/VihaanSondhi.jpg"
                },
                {
                    name: "Alexis Cheung",
                    title: "Marketing",
                    bio: "Alexis is into music and all things crafty—playing guitar, folding origami, or solving puzzles. She’s obsessed with cats and always down to help out, whether it’s tutoring or volunteering.",
                    img: "/images/headshots/AlexisCheung.jpg"
                },
                {
                    name: "Adishree Das",
                    title: "Event Planning",
                    description: "",
                    img: "/images/headshots/AdishreeDas.jpg"
                },
                {
                    name: "Mack Tam",
                    title: "Venue",
                    bio: "Mack is a high school student obsessed with physics, chaotic side projects, and building cool stuff that actually works. He’s done research on quantum particles, built a working radio telescope in his garage, and somehow still finds time to run a food channel on the side. Big fan of late-night brainstorming, clean design, and doing the most.",
                    img: "/images/headshots/MackTam.jpg"
                },
                {
                    name: "Xiao Ma",
                    title: "Sponsorship",
                    bio: "Xiao Ma became a gaming addict during the pandemic and hasn't recovered since. You can ask him about cars, books, art, and the socioeconomic state of the world, but the meta of League of Legends is usually the best topic for a really well-educated tangent.",
                    img: "/images/headshots/XiaoMa.jpg"
                },
            ]}
        />
    </div>
    <span class="w-fit bg-accent-2 rounded-full p-2 sm:p-3 px-3 sm:px-4 text-2xl sm:text-4xl text-content-1 font-display text-center">Organizers</span>
    <div class="w-full flex flex-wrap gap-4 sm:gap-7">
        <NameTileRow
            items={[
                {
                    name: "Juwon Park",
                    title: "",
                    description: "",
                    img: "/images/headshots/JuwonPark.jpg"
                },
                {
                    name: "Thomas Liu",
                    title: "",
                    description: "",
                    img: "/images/headshots/ThomasLiu.jpg"
                },
                {
                    name: "Brij Chhabra",
                    title: "",
                    description: "",
                    img: "/images/headshots/BrijChhabra.jpg"
                },
                {
                    name: "Franklin Lee",
                    title: "",
                    description: "",
                    img: "/images/headshots/FranklinLee.jpg"
                },
                {
                    name: "Sharon Basovich",
                    title: "",
                    description: "",
                    img: "/images/headshots/Sharon.jpg"
                },
                {
                    name: "Raymond Zhang",
                    title: "",
                    bio: "A curious mind with a passion for all things tech and sci-fi, Raymond loves diving into anime worlds, AR/VR, reading futuristic novels, and building cool stuff through coding and robotics. When not smashing birdies on the badminton court or tinkering with engineering projects, he enjoys giving back through community volunteering and exploring worldly cultures.",
                    img: "/images/headshots/Raymond.png"
                },
            ]}
        />
    </div>
</section>
