---
import { Image } from 'astro:assets';
import NameTileRow from '../ui/NameTileRow.astro';
---

<section class="relative w-full h-fit bg-bg flex flex-col gap-14 p-14">
    <span class="text-8xl text-content-1 font-display">Meet our team</span>
    <span class="w-fit bg-accent-1 rounded-full p-3 px-4 text-4xl text-content-1 font-display text-center">Directors</span>
    <div class="w-full flex flex-wrap gap-7">
        <NameTileRow
            items={[
                {
                    name: "Kyle Lee",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Vihaan Sondi",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Laura Zhang",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Dean Chen",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Katie Young",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Lydia Zhou",
                    img: "/images/VRRetroBernie.png"
                },
            ]}
        />
    </div>
    <span class="w-fit bg-accent-2 rounded-full p-3 px-4 text-4xl text-content-1 font-display text-center">Members</span>
    <div class="w-full flex flex-wrap gap-7">
        <NameTileRow
            items={[
                {
                    name: "Alexis Cheung",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Adishree Das",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Manishita Das",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Juwon Park",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Sunny Zhao",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Maggie Li",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Sophia Zhou",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Mack Tam",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Thomas Liu",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Xiao Ma",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Brij Chhabra",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Clayton Zickerman",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Franklin Lee",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Zayan Jami",
                    img: "/images/VRRetroBernie.png"
                },
                {
                    name: "Meiling Zhang",
                    img: "/images/VRRetroBernie.png"
                },
            ]}
        />
    </div>
</section>