---
import NameTileRow from '../ui/NameTileRow.astro';
---

<section class="relative w-full h-fit bg-bg flex flex-col gap-14 p-14">
    <span class="text-8xl text-content-1 font-display">Meet our team</span>
    <span class="w-fit bg-accent-1 rounded-full p-3 px-4 text-4xl text-content-1 font-display text-center">Core Team</span>
    <div class="w-full flex flex-wrap gap-7">
        <NameTileRow
            items={[
                {
                    name: "Vihaan Sondhi",
                    title: '"Director"',
                    description: "",
                    img: "/images/headshots/VihaanSondhi.jpg"
                },
                {
                    name: "Alexis Cheung",
                    title: "Marketing",
                    description: "",
                    img: "/images/headshots/AlexisCheung.jpg"
                },
                {
                    name: "Adishree Das",
                    title: "Event Planning",
                    description: "",
                    img: "/images/headshots/AdishreeDas.jpg"
                },
                {
                    name: "Mack Tam",
                    title: "Venue",
                    description: "",
                    img: "/images/headshots/MackTam.jpg"
                },

                {
                    name: "Xiao Ma",
                    title: "Sponsorship",
                    description: "",
                    img: "/images/headshots/XiaoMa.jpg"
                },

            ]}
        />
    </div>
    <span class="w-fit bg-accent-2 rounded-full p-3 px-4 text-4xl text-content-1 font-display text-center">Organizers</span>
    <div class="w-full flex flex-wrap gap-7">
        <NameTileRow
            items={[
                
                {
                    name: "Juwon Park",
                    title: "",
                    description: "",
                    img: "/images/headshots/JuwonPark.jpg"
                },
                
                {
                    name: "Thomas Liu",
                    title: "",
                    description: "",
                    img: "/images/headshots/ThomasLiu.jpg"
                },
                {
                    name: "Brij Chhabra",
                    title: "",
                    description: "",
                    img: "/images/headshots/BrijChhabra.jpg"
                },
                {
                    name: "Franklin Lee",
                    title: "",
                    description: "",
                    img: "/images/headshots/FranklinLee.jpg"
                },
                {
                    name: "Zayan Jami",
                    title: "",
                    description: "",
                    img: "/images/headshots/ZayanJami.jpg"
                },
            ]}
        />
    </div>
</section>