---
import NameTileRow from '../ui/NameTileRow.astro';
---

<section class="relative w-full h-fit bg-bg flex flex-col gap-14 p-14">
    <span class="text-8xl text-content-1 font-display">Meet our team</span>
    <span class="w-fit bg-accent-1 rounded-full p-3 px-4 text-4xl text-content-1 font-display text-center">Directors</span>
    <div class="w-full flex flex-wrap gap-7">
        <NameTileRow
            items={[
                {
                    name: "Kyle Lee",
                    title: "Marketing and Graphics Director & Public Relations Director",
                    description: "",
                    img: "/images/headshots/KyleLee.jpg"
                },
                {
                    name: "Vihaan Sondhi",
                    title: "Finance Director & Logistics Director",
                    description: "",
                    img: "/images/headshots/VihaanSondhi.jpg"
                },
                {
                    name: "Laura Zhang",
                    title: "Co-executive Director",
                    description: "",
                    img: "/images/headshots/LauraZhang.jpg"
                },
                {
                    name: "Dean Chen",
                    title: "Programming Director",
                    description: "",
                    img: "/images/headshots/DeanChen.jpg"
                },
                {
                    name: "Katie Young",
                    title: "Programming Director",
                    description: "",
                    img: "/images/headshots/KatieYoung.jpg"
                },
                {
                    name: "Lydia Zhou",
                    title: "Co-executive Director",
                    description: "",
                    img: "/images/headshots/LydiaZhou.jpg"
                },
            ]}
        />
    </div>
    <span class="w-fit bg-accent-2 rounded-full p-3 px-4 text-4xl text-content-1 font-display text-center">Members</span>
    <div class="w-full flex flex-wrap gap-7">
        <NameTileRow
            items={[
                {
                    name: "Alexis Cheung",
                    title: "Social Media Manager",
                    description: "",
                    img: "/images/headshots/AlexisCheung.jpg"
                },
                {
                    name: "Adishree Das",
                    title: "Social Media Manager",
                    description: "",
                    img: "/images/headshots/AdishreeDas.jpg"
                },
                {
                    name: "Manishita Das",
                    title: "Public Outreach and Blog Writer",
                    description: "",
                    img: "/images/headshots/ManishitaDas.jpg"
                },
                {
                    name: "Juwon Park",
                    title: "Social Media Manager and Blog Writer",
                    description: "",
                    img: "/images/headshots/JuwonPark.jpg"
                },
                {
                    name: "Sunny Zhao",
                    title: "Graphics Designer",
                    description: "",
                    img: "/images/headshots/SunnyZhao.jpg"
                },
                {
                    name: "Maggie Li",
                    title: "Graphics Designer",
                    description: "",
                    img: "/images/headshots/MaggieLi.jpg"
                },
                {
                    name: "Sophia Zhou",
                    title: "Graphics Designer",
                    description: "",
                    img: "/images/headshots/SophiaZhou.jpg"
                },
                {
                    name: "Mack Tam",
                    title: "Finance Manager",
                    description: "",
                    img: "/images/headshots/MackTam.jpg"
                },
                {
                    name: "Thomas Liu",
                    title: "Finance Manager",
                    description: "",
                    img: "/images/headshots/ThomasLiu.jpg"
                },
                {
                    name: "Xiao Ma",
                    title: "Finance Manager",
                    description: "",
                    img: "/images/headshots/XiaoMa.jpg"
                },
                {
                    name: "Brij Chhabra",
                    title: "Programming Junior Director",
                    description: "",
                    img: "/images/headshots/BrijChhabra.jpg"
                },
                {
                    name: "Clayton Zickerman",
                    title: "Programming Junior Director",
                    description: "",
                    img: "/images/headshots/ClaytonZickerman.jpg"
                },
                {
                    name: "Franklin Lee",
                    title: "Programming Member",
                    description: "",
                    img: "/images/headshots/FranklinLee.jpg"
                },
                {
                    name: "Zayan Jami",
                    title: "Programming Member",
                    description: "",
                    img: "/images/headshots/ZayanJami.jpg"
                },
                {
                    name: "Meiling Zhang",
                    title: "Programming Member",
                    description: "",
                    img: "/images/headshots/MeilingZhang.jpg"
                },
            ]}
        />
    </div>
</section>