---
import Calendar from "../ui/Calendar";
import EventSchedule from "../ui/EventSchedule.astro";

const divs = Array.from;
---

<div class="flex w-full h-[110vh] px-12 py-16 justify-center font-display">
    <div class="bg-content-3 w-full pl-12 flex justify-center h-full items-center rounded-3xl">
        <div class="w-full h-[80%] flex justify-center align-middle items-center relative z-0">
            <div class="w-[45%] h-full items-center justify-center flex relative">
                <Calendar />
                <h1 class="absolute text-center text-5xl font-semibold text-bg font-display w-[50%]">
                    Check back later for event date!
                </h1>
            </div>
            <div class="z-10 w-[55%] h-full flex ">
                <EventSchedule />
            </div>
        </div>
    </div>
</div>
