---
import Layout from "../layouts/LandingLayout.astro";
import Hero from "../components/widgets/AboutHero.astro";
import Bernie from "../components/widgets/BernieShowcase.astro";
import MembersList from "../components/widgets/MembersList.astro";
import Sponsors from "../components/widgets/SponsorsList.astro";
import Footer from "../components/widgets/Footer.astro";
---

<Layout>
    <main class="relative w-full h-auto flex flex-col items-center justify-center">
        <Hero />
        <Bernie />
        <MembersList />
    </main>
</Layout>
