---
import Layout from "../layouts/LandingLayout.astro";
import BlogHero from "../components/widgets/BlogHero.astro";
import BlogList from "../components/widgets/BlogList.astro";
---

<Layout>
    <main class="w-full h-auto flex flex-col items-center justify-center">
        <BlogHero />
        <BlogList
            items={[
                {
                    title: "Blog 1",
                    tags: "Tech",
                    img: "/images/VRRetroBernie.png",
                    link:"",
                },
                {
                    title: "Blog 1",
                    tags: "Tech",
                    img: "/images/VRRetroBernie.png",
                    link:"",
                },
            ]}
        />
    </main>
</Layout>
