---
import Layout from "../layouts/LandingLayout.astro";
import BlogHero from "../components/widgets/BlogHero.astro";
import BlogList from "../components/widgets/BlogList.astro";
---

<Layout>
    <main class="w-full h-auto flex flex-col items-center justify-center font-display pt-16 sm:pt-0">
        <BlogHero />
        <BlogList
            items={[
                {
                    title: "Virtual Reality: Beyond Gaming",
                    tags: "Tech",
                    img: "/images/blogImg/12-1-24.jpg",
                    link:"/blogs/12-1-24",
                },
                {
                    title: "NLP - Unlocking the Potential of Language ",
                    tags: "Tech",
                    img: "/images/blogImg/11-23-24.jpg",
                    link:"/blogs/11-23-24",
                },
            ]}
        />
    </main>
</Layout>
