---
import Layout from '../layouts/LandingLayout.astro';
import FadeOnScroll from "../components/FadeOnScroll.astro"

---

<Layout>
	<main class="flex flex-col">
		<section class="flex flex-col justify-center items-center h-screen space-y-8">
			<div class="flex flex-col text-center">
				<h1 class="text-8xl font-display font-semibold text-accent-2">Teenhacks LI 2024</h1>
				<p class="text-4xl font-display ml-2 text-content-1">12 hour hackathon in Long Island for all skill levels.</p>
			</div>
			<div class="flex space-x-8">
				<button class="button">Sign Up</button>
				<button class="button bg-bg text-content-1 outline-2 outline-accent-2 outline">View Schedule</button>
			</div>
			<FadeOnScroll>
				<img class="w-12 absolute top-[85vh] animate-bounceDown" src="/svgs/chevron.svg"/>
			</FadeOnScroll>
		</section>

		<section class="flex flex-col items-center h-screen"> 
			<h1 class="text-8xl font-display font-semibold text-accent-2">Our Story</h1> 
		</section>
	</main>
</Layout> 