---
import Hero from "../components/widgets/Hero.astro";
import About from "../components/widgets/About.astro";
import Layout from "../layouts/LandingLayout.astro";
import Apply from "../components/widgets/Apply.astro";
import Schedule from "../components/widgets/Schedule.astro";
---

<Layout>
    <main class="flex flex-col items-center justify-center pb-20">
        <Hero />
        <About />
        <Apply />
        <!-- <Schedule /> -->
    </main>
</Layout>
