---
import Layout from '../layouts/LandingLayout.astro';


---

<Layout>
	<main class="flex flex-col justify-center items-center h-screen space-y-8">
		<div class="flex flex-col text-center">
			<h1 class="text-8xl font-display font-semibold text-accent-2">Team</h1>
			<p class="text-4xl font-display ml-2 text-content-2">Content Two!</p>
		</div>

		<button class="text-2xl text-bg font-semibold bg-accent-1 rounded-lg hover:scale-105 transition-all w-52 h-12">Accent One</button>
		<button class="text-2xl text-bg font-semibold bg-accent-2 rounded-lg hover:scale-105 transition-all w-52 h-12">Accent Two</button>
		<button class="text-2xl text-bg font-semibold bg-accent-3 rounded-lg hover:scale-105 transition-all w-52 h-12">Accent Three</button>
	</main>
</Layout>