---
import NavButton from "../ui/NavButton.astro";
---

<div class="outline-4 outline-content-2 rounded-full px-6 py-2 outline flex items-center justify-center space-x-8">
    <NavButton text="Home" href="/" />
    <NavButton text="About" href="/about" />
    <NavButton text="Sponsors" href="/sponsors" />
    <NavButton text="Blog" href="/blog" />
</div>
