---
import "../styles/global.css";
import CommonMeta from "../components/common/CommonMeta.astro";
import Loader from "../components/widgets/Loader.astro";

export interface Props {
    title?: String;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-load="false" view-transition>
    <head>
        <CommonMeta title={title} />
    </head>
    
    <body class="bg-bg font-display">
        <slot />
        <Loader transition:persist/>
    </body>
</html>