---
import '../styles/global.css';
import CommonMeta from '../components/common/CommonMeta.astro';
export interface Props {
    title?: String;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <CommonMeta title={title} />
    </head>
    <body>
        <slot />
    </body>
</html>
