---
import "../styles/global.css";
import CommonMeta from "../components/common/CommonMeta.astro";
import Loader from "../components/widgets/Loader.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
export interface Props {
    title?: String;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-load="false">
    <head>
        <CommonMeta title={title} />
        <ViewTransitions />
    </head>
    
    <body class="bg-bg font-display">
        <slot />
        <Loader transition:persist/>
    </body>
</html>

