---
export type ButtonStyle = "PRIMARY" | "SECONDARY" | "BORDERED";

const baseStyles = "rounded-2xl p-2 px-4 sm:px-6 text-base sm:text-xl text-display font-bold hover:scale-105 transition-all active:scale-90";
const ButtonStyle = {
    PRIMARY: "bg-content-1 text-bg",
    ACCENT1: "bg-accent-1 text-bg",
    ACCENT2: "bg-accent-2 text-bg",
    ACCENT3: "bg-accent-3 text-bg",
    BORDERED: "outline outline-4 outline-content-1 text-accent-3",
};

const { text, href, style = "PRIMARY" } = Astro.props;
const buttonClass = baseStyles + " " + ButtonStyle[style];
---

<button class={buttonClass}><a href={href}>{text}</a></button>
