---
interface Props {
    imageUrl: string;
    linkToSend: string;
    className?: string;
}

const { imageUrl, linkToSend, className = "" } = Astro.props;
---

<a href={linkToSend} class={className}>
    <img src={imageUrl} alt="button icon" />
</a>
