---
interface Props {
    imageUrl: string;
    href: string;
    className?: string;
    alt?: string;
}

const { imageUrl, href, className = "", alt} = Astro.props;
---

<a href={href} class={className}>
    <img src={imageUrl} alt= {alt} />
</a>
