---
interface Props {
    text: string;
    href: string;
}

const { text, href } = Astro.props;
---

<button class="text-content-1 font-display font-medium transition-all"><a href={href}>{text}</a></button>
